@import '../../variables.scss';

.homePage {
  padding: 20px 0 100px;
  max-width: 940px;
  margin: 0 auto;
  font-family: $main-font-family;
}

.tabsInputWrapper {
  display: flex;
  justify-content: space-between;
}

.homePage__info {
  background-color: $main-color-lighter;
  color: white;
  padding: 20px;
}
